.view-component{
    display: grid;
  grid-template-columns: auto auto auto auto;
  padding-left: 10px;
}

.card-body{
<<<<<<< HEAD
    margin: .2rem .2rem .2rem .2rem;

}
=======
    margin-left: .5rem;
    margin-right: .5rem;
}
>>>>>>> 0f2c54eeb8538e4e37a45066e163264a40462908
